# ======================
# .NET
# ======================
**/bin/
**/obj/
*.user
*.csproj.user

# ======================
# Frontend (Node / Angular / React)
# ======================
**/node_modules/
**/dist/
**/.angular/cache/

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
